@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


body{
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
   background-color: #1b1b1b;
   margin: 0px;
}

html{
    scroll-behavior: smooth;
}

#Navigation{
display: grid;
grid-template-columns: 20% 80%;
justify-items: stretch;
align-items: center;
width: 100%;
background-color:#606360;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;

border-bottom: 2px solid;
border-color: rgba(22, 22, 22, 0.2);
}

.logo{
    font-family: 'Dancing Script', cursive;
    width: 100%;
    color: white;

}

a{
    color: #dec551;
    margin: 1%;
    text-decoration: none;
    padding: 1%;
}

a:hover{
    background-color: #8583718a;
}

input{

}

.Popup{
    background-color: rgba(0, 0, 0, 0.658); 
    
    opacity: 0.99;
    display: grid;
    position: fixed;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.Popup div{
    background-color: rgb(27, 27, 27);
    border: 2px solid rgb(156, 148, 54);
    left: 50%;
    top: 50%;
    width: 70vw;
    text-align: center;
    height: fit-content;
    font-size: 3vh;
}

.Popup button{

    border: none;
    margin: 2%;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    color: black;
    font-weight: bold;
}

.Popup input{
    padding: 10px;
    background-color: rgb(212, 212, 212)
}

.Popup input:hover{
    cursor: text;
}

button:hover{
    background-color: rgb(146, 146, 146);
    cursor: pointer;
}

.imgBkgrnd{
    height: 70vh;
    background-image: url(img/image\ 79.png);
    background-size: cover;
    background-position: center bottom;
    opacity: 0.9;
    width: 100%;
    margin-top: 0.1%;

    animation: 
    fadeIn 2s forwards,
    slideDown 12s forwards
    ;



}

.imgBkgrnd div{
    padding: 5%;
}

.titulo, .bajada{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px black;
    animation-name: fadeIn;
    animation-duration: 4s;
}

h1,h2,h4,p, button{
    font-family: 'Lato', sans-serif;
    color: white; 
}

input{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.bajada{
    font-family: 'Montserrat', sans-serif;
}

.Box{
    display: block;
    padding: 2%;
    margin-top: 1%;
    width: 70%;
    text-align: justify;
    background-color: #3f3f3f;
    animation-name: fadeIn;
    animation-duration: 4s;
    
}

.Box p{    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.Box h1{   
    text-align: left;
}

.Box img {
    float: right;
    margin-left: 2%;
    border: 1px solid #b6b6b6;
    
    
}

.FormBox{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;
    width: 100%;
    background-color: rgb(219, 219, 219);
    border-top: 1px solid black;

    animation-name: fadeIn;
    animation-duration: 1s;
}

.Formulario {
    background-color: rgba(0, 0, 0, 0.144);
    padding: 2%;
    margin: 5%;
}


.Formulario form {
    color: black;
    display: grid;
    gap: 2%;
    justify-content: center;
    grid-template-columns: 90%;
}

.Formulario input{
    background-color: rgb(239 239 239);
    border-radius: 1px;
    border: 1px solid rgb(156, 156, 156);
    height:25px;
}

.Formulario textarea {
    background-color: rgb(239 239 239);

}

.Formulario h2 {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
}

label {
    font-family: 'Lato', sans-serif;
}



.Social{
    display: grid;
    grid-template-columns: 100%;
    gap: 5%;
    width: 100%;
    justify-content: start;
    padding: 5%;
    align-content: center;
    justify-items: start;
  

}

.Social img{
    width: 50px;
}

.Social a{
    display: flex;
    align-items: center;
    gap: 5%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(184, 184, 184);
    width: 90%;
    font-size: 100%;
    text-align: left;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 100%
    }
    

}

@keyframes slideDown {
    from {
        background-position: top;
    }

    to {
        background-position: bottom;
    }